body {
  /* margin: auto; */
  font-family: "Helvetica", sans-serif;
  background-color: black;
}

.logo {
  margin-left: 10px;
  height: 50px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
}
.nav-links a {
  text-decoration: underline;
  color: white;
}
.nav-links a:hover {
  color: lightgray;
}
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-image: url("images/img-mission-background.webp");
}
.hero-text {
  background-color: black;
  color: white;
  text-align: center;
  background-color: black;
}
